    <div class="card text-center}">
        <div class="card-header text-bg-{{color}}">
            <div class="row">
                <div class="col-9" data-bs-toggle="collapse" aria-expanded="true" attr.aria-controls="collapse-{{index}}" attr.href="#collapse-{{index}}">
                    <h4>{{user?.username}}'s Projects</h4>
                </div>
                
                <div class="col-3"><a class="link-light" routerLink="/main/projects/{{uid}}">view</a></div>
            </div>
        </div>
        <div id="collapse-{{index}}" class="card-body info collapse show rounded-bottom bg-{{color}}-light">
            <ul
            *ngFor="let project of projects;">
                <li>{{project.title}}</li>
            </ul>
        </div>
    </div>