
.project-card{
    margin-top: 10px;
    margin-left: 0px;
}
.search{
    border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
}
.project-card > .deleted{
    display: none;
}
.add-icon{
    font-size: 7em;
    border: 5px solid #3763f4;
}

.add-icon:hover{
    opacity: 0.7;
}
