<main class="page landing-page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <div class="row">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h3 class="fw-bold">Projects</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <app-filter
                        [tags]=tags
                        (notify)="filterProjects($event)">
                        </app-filter>
                    </div>
                        <div class="col-4 offset-4">
                            <div class="input-group"><input class="form-control" type="text"  #search (keyup.enter)="searchProjects(search.value)" placeholder="Search"/><button class="btn btn-primary" type="button" (click)="searchProjects(search.value)"><i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <app-project 
                            class="col-lg-4 d-flex align-items-stretch project-card"
                            *ngFor="let project of filteredProjects; let i = index"
                            index="{{i}}"
                            [project]="project"
                            [admin]=admin>
                        </app-project>

                        
                    <ng-container *ngIf="admin">
                        <div class="col-lg-4 d-flex align-items-stretch project-card">
                            <br>
                            <a class="card-body text-center px-4 py-5 px-md-5 bg-primary-light rounded align-items-center d-flex justify-content-center" routerLink="/main/add">
                                <svg class="bi bi-plus-lg text-primary " xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 128px;">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                                </svg>
                            </a>
                        </div>
                    </ng-container>
                    
                        
                        <!-- <app-project 
                            class="col-lg-4 d-flex align-items-stretch"
                            index="1"
                            [project]="project">>
                        </app-project> -->
                    </div>
                </div>
            </div>
    </section>
</main>
