<main class="page landing-page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <div class="row">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h3 class="fw-bold">Projects</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <app-filter></app-filter>
                    </div>
                        <div class="col-4 offset-4">
                            <div class="input-group"><input class="form-control" type="text"  placeholder="Search" /><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <app-project 
                            class="col-lg-4 d-flex align-items-stretch"
                            *ngFor="let project of projects; let i = index"
                            index="{{i}}"
                            [project]="project">
                        </app-project>
                    </div>
                </div>
            </div>
    </section>
</main>
