<div class="container py-5">
    <div class="block-heading">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h3 class="fw-bold">{{add}} Project</h3>
            </div>
        </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-8 fill">
            <div>
                <form class="p-3 p-xl-4" method="post" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6"><input id="title" formControlName="title" class="form-control" type="text" name="title" required placeholder="Project Name" /></div>
                        <div class="col-md-6">
                            <mat-select id="skills" formControlName="skills" class="form-control" [formControl]="control" multiple placeholder="Tags">
                              <mat-option hidden disabled=""></mat-option>
                              <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
                              
                              <div style="margin: 9.6px; width: 90%;"><div *ngIf="!vaidTag" class="text-danger">
                                {{tagerror}}
                            </div>
                              <div class="input-group"><input class="form-control" type="text" #newTag placeholder="New Tag"/><button class="btn btn-outline-primary" (click)="addNewTag(newTag.value)" type="button">Add</button></div>
                              </div>
                            </mat-select>
                        </div>
                    </div>
                    <div class="row" style="padding: 9.6px 0 0;">
                        <div class="col-md-6"><input id="github" formControlName="github" class="form-control" type="url" name="github" placeholder="GitHub" /></div>
                        <div class="col-md-6"><input id="site" formControlName="site" class="form-control"  type="url" name="site" placeholder="Website" /></div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="mb-3"><textarea id="description" formControlName="description" class="form-control" name="message" rows="6" placeholder="Project Description"></textarea></div>
                    

                    <div *ngIf="title.invalid && title.touched" class="alert alert-danger">
                
                        <div *ngIf="title.errors?.['required']">
                            Title is required.
                        </div>
                        <div *ngIf="github.invalid">
                            github is required.
                        </div>
                        <div *ngIf="site.invalid">
                            site is required.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><button class="btn btn-primary shadow d-block w-100"  routerLink="/main/projects/{{userid}}" type="button">Back to Dashboard</button></div>
                    
                        <div class="col-md-4 offset-4"><button class="btn btn-primary shadow d-block w-100" [disabled]="projectForm.invalid" type="submit">{{add}} Project</button></div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->